body {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
textarea {
  width: 100%;
  font-size: 1.5rem;
  
}
::placeholder {
  color: blue;
}
/* WebKit, Edge */
::-webkit-input-placeholder {
  color: blue;
}
/* Firefox 4-18 */
:-moz-placeholder {
  color: blue;
  opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: blue;
  opacity: 1;
}
/* IE 10-11 */
:-ms-input-placeholder {
  color: blue;
}
/* Edge */
::-ms-input-placeholder {
  color: blue;
}

button {
  background-color: green;
  color: white;
  padding: .5rem;
  font-size: 1.5rem;
}
button[id=bg-switch] {
  display: inline;
  float: left;
  margin-bottom: 10px;
}
#word-count {
  display: flex;
}
